/* Reset */

/* HOME PAGE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #fafafc;
    color: #0a1f44;
}

/* Navbar */
nav {
    background-color: #010d24;
    padding: 15px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    color: white;
    font-size: 24px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #14b8a6;
}

/* Hero Section */
.hero {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
}

.hero-text {
    max-width: 50%;
}

.hero-text h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-text span {
    color: #14b8a6;
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 1.6;
}

.btn {
    padding: 12px 25px;
    background-color: #14b8a6;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background-color: #0a1f44;
}

/* Hero Image */
.hero-image img {
    width: 350px;
}

/* Features Section */
.features {
    padding: 60px 80px;
    text-align: center;
}

.features h3 {
    font-size: 32px;
    margin-bottom: 40px;
}

.feature-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.card {
    background: white;
    padding: 30px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
}

.card h4 {
    margin-bottom: 15px;
}

.card p {
    font-size: 15px;
    line-height: 1.5;
}

/* Footer */
footer {
    background-color: #0a1f44;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}

/* Responsive */
@media(max-width: 900px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-text {
        max-width: 100%;
    }

    .feature-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
    }
}


/* LOGIN PAGE */

/* Login Page */

.login-container {
    height: 100vh;
    background: linear-gradient(to right, #0a1f44, #14b8a6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.login-container h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.login-container p {
    margin-bottom: 40px;
    font-size: 18px;
}

.login-buttons {
    display: flex;
    gap: 30px;
}

.login-buttons a {
    text-decoration: none;
    padding: 15px 35px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
}

.student-btn {
    background-color: white;
    color: #0a1f44;
}

.student-btn:hover {
    background-color: #f4f8fb;
    transform: scale(1.05);
}

.admin-btn {
    background-color: #0a1f44;
    color: white;
    border: 2px solid white;
}

.admin-btn:hover {
    background-color: #08306b;
    transform: scale(1.05);
}

/* Responsive */
@media(max-width: 700px) {
    .login-buttons {
        flex-direction: column;
    }
}

/*studentLOGIN PAGE */


.form-container {
    height: 100vh;
    background: linear-gradient(to right, #0a1f44, #14b8a6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    background: white;
    padding: 40px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.form-box h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #0a1f44;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #0a1f44;
}

form input,
form select {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

form input:focus,
form select:focus {
    outline: none;
    border-color: #14b8a6;
}

form button {
    margin-top: 20px;
    padding: 12px;
    background-color: #14b8a6;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

form button:hover {
    background-color: #0a1f44;
}

.std-login-btn{
    margin-top: 20px;
    padding: 12px;
    background-color: #14b8a6;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
}
/*STUDENT DASHBORD PAGE */

/* Logout Button */
.logout-btn {
    background-color: #14b8a6;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Dashboard Layout */
.dashboard-container {
    display: flex;
    gap: 30px;
    padding: 40px 60px;
    background-color: #f4f8fb;
}

/* Chat Section */
.chat-container {
    width: 100%;
    max-width: 600px;
    margin: 30px auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    padding: 20px;
}

.chat-box {
    height: 300px;
    overflow-y: auto;
    margin-bottom: 15px;
}

.bot-message {
    background: #e0f2f1;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 8px;
}

.user-message {
    background: #0a1f44;
    color: white;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 8px;
    text-align: right;
}

.chat-input-area {
    display: flex;
    gap: 10px;
}

.chat-input-area input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.chat-input-area button {
    padding: 10px 15px;
    background-color: #14b8a6;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}


/* Complaint Section */
.complaint-section {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.complaint-section h2 {
    margin-bottom: 15px;
    color: #0a1f44;
}

.complaint-section textarea {
    width: 100%;
    height: 120px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    resize: none;
}

.complaint-section button {
    width: 100%;
    padding: 10px;
    background-color: #14b8a6;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.complaint-section button:hover {
    background-color: #0a1f44;
}

/* Responsive */
@media(max-width: 900px) {
    .dashboard-container {
        flex-direction: column;
    }
}

/* Admin Dashboard */

.admin-container {
    padding: 40px 60px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    background-color: #f4f8fb;
}

.admin-card {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.admin-card h2 {
    margin-bottom: 15px;
    color: #0a1f44;
}

.admin-card input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.admin-card button {
    padding: 10px 20px;
    background-color: #14b8a6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.admin-card button:hover {
    background-color: #0a1f44;
}

.complaint-list {
    list-style: none;
    padding-left: 0;
}

.complaint-list li {
    padding: 8px 0;
        
}



   /* student-signup page */
 .form-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #0a1f44, #14b8a6);
}

.form-box {
    background: #ffffff;
    padding: 40px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.2);
}

.form-box h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #0a1f44;
}

.form-box label {
    display: block;
    margin-top: 10px;
    font-weight: 600;
}

.form-box input,
.form-box select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-btn {
    margin-top: 20px;
    padding: 12px;
    width: 100%;
    background-color: #14b8a6;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #0a1f44;
}

.signup-text {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}

.signup-text a {
    color: #14b8a6;
    text-decoration: none;
    font-weight: bold;
}
  



